.navbar-brand {
  justify-content: center;
  margin: 10px 0;
}
.navbar-brand a.site-title {
  color: tomato;
}

.block-page-title-block h1 {
  color: tomato;
}

.block-local-tasks-block nav ul li a {
  color: tomato;
}

.btn {
  border: var(--bs-btn-border-width) solid tomato;
  background-color: tomato;
}

.punit {
  color: tomato;
}

.views-displays .tabs .action-list input.form-submit {
  color: black;
}

/* Basic menu styling */
.navbar {
  background-color: #333;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: block;
}

.navbar li:hover > ul {
  display: block;
}

/* Submenu styles */
.navbar ul ul {
  display: none;
  position: absolute;
  background-color: #444;
  top: 100%;
  left: 0;
  width: 200px;
  border-radius: 0;
}

.navbar ul ul li {
  display: block;
  margin: 0;
  padding: 0;
}

/* Adjust submenu link styles as needed */
.navbar ul ul a {
  padding: 10px;
}